<!doctype html>
    <html>
      <head>
        <title>Memory isomorphic</title>
      </head>
      <body>
        <div id="root"><%- content %></div>
        <script>
          // WARNING: See the following for security issues around embedding JSON in HTML:
          // https://redux.js.org/recipes/server-rendering/#security-considerations
          window.__PRELOADED_STATE__ = <%- state %>
        </script>
        <script src="/static/main.bundle.js"></script>
      </body>
    </html>